:root{
    --heo-white: #fff;
    --heo-black: #000;
    --heo-none: rgba(0,0,0,0);
    --heo-gray: #999999;
    --heo-yellow: #ffc93e;
    --heo-main: #007AFF;
    --heo-shadow-main: 0 8px 12px -3px rgba(40, 109, 234,.20);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
    --style-border: 1px solid var(--heo-card-border);
    --heo-theme: #425AEF;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #008200;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-hovertext: #5374ff;
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
  }
  
  ::selection {
    background: var(--heo-blue);
    color: var(--heo-white);
  }
  
  [data-theme=light] {
    --heo-theme: #425AEF;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #008200;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-hovertext: #5374ff;
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
  }
  
  [data-theme=dark] {
    --heo-theme: #0084FF;
    --heo-blue: #0084FF;
    --heo-red: #FF3842;
    --heo-pink: #FF7C7C;
    --heo-green: #00FF00;
    --heo-fontcolor: #F7F7FA;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0,0,0, 0.6);
    --heo-hovertext: #0A84FF;
    --heo-ahoverbg: #fff;
    --heo-lighttext: #f2b94b;
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1b26;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-card-border: #42444a;
  }
  
  @media screen and (max-width: 768px){
    :root{
      --style-border: 0px solid var(--heo-card-border);
    }
  }
  
  #fMessageBoard {
    font-size: 20px;
    background: var(--heo-background);
    color: var(--heo-fontcolor);
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: none;
    width: 90%;
    max-width: 810px;
    margin: auto;
    height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
  }
  #fMessageBoard .fUpdatedTime {
    text-align: center;
    height: 40px;
    order: 1;
    width: 60%;
    line-height: 40px;
  }
  #fMessageBoard .fMessageItem {
    background: var(--heo-background);
    order: 0;
    width: 100%;
    display: flex;
  }
  #fMessageBoard .fMessageItem .fItem {
    height: 80px;
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  #fMessageBoard .fMessageItem .fItem .fLabel {
    padding: 0 3%;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 24px;
  }
  #fMessageBoard .fMessageItem .fItem .fMeasureBar {
    align-self: center;
    text-align: center;
    height: 60px;
    width: 50%;
  }
  #fMessageBoard .fMessageItem .fItem .fMessage {
    align-self: center;
    text-align: center;
    padding: 0 3%;
    width: 25%;
  }
  #fMessageBoard #switchRankBtn {
    max-width: 250px;
    height: 40px;
    display: flex;
    text-align: center;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    order: 2;
    width: 40%;
  }
  #fMessageBoard #switchRankBtn #rankByCreated {
    font-size: 20px;
    height: 30px;
    width: 80px;
    display: inline-block;
    padding: 2px 5px;
  }
  #fMessageBoard #switchRankBtn #rankByUpdated {
    font-size: 20px;
    height: 30px;
    width: 80px;
    display: inline-block;
    padding: 2px 5px;
  }
  #fMessageBoard #switchRankBtn input#switchRankMode[type=checkbox] {
    display: none;
  }
  #fMessageBoard #switchRankBtn label#switchRank {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    margin: 7px 0px;
    background: #3a8ec4;
    display: inline-block;
    border-radius: 10px;
    position: relative;
  }
  #fMessageBoard #switchRankBtn label#switchRank:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 8px;
    transition: 0.3s;
  }
  #fMessageBoard #switchRankBtn label#switchRank:active:after {
    width: 50px;
  }
  #fMessageBoard #switchRankBtn input#switchRankMode:checked + label {
    background: #d8653e;
  }
  #fMessageBoard #switchRankBtn input#switchRankMode:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  #fcircleMoreBtn {
    width: 90%;
    max-width: 810px;
    height: 30px;
    margin: auto;
    background: var(--heo-background);
    color: var(--heo-lighttext);
    border-radius: 12px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s;
  }
  #fcircleMoreBtn:hover{
    color: var(--heo-white);
    background: var(--heo-main);
  }
  #fcircleContainer {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
  }
  #fcircleContainer a {
    text-decoration: none;
  }
  #fcircleContainer .fArticleItem {
    margin: 20px 5%;
    display: flex;
    color: rgba(60,60,61,0.7);
    border-radius: 5px;
    font-weight: bolder;
    overflow: hidden;
    flex-direction: column;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0.5rem 1rem;
    order: 1;
    transform: translateY(-23px);
    width: 9rem;
    height: 0px;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar .fAvatar {
    align-self: center;
    text-align: center;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar .fAvatar img {
    width: 22px;
    height: 22px;
    border-radius: 99px;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar .fAvatar .img-alt.is-center {
    display: none;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar .fArticleAuthor {
    margin: 0 0.5rem;
    align-self: center;
    text-align: center;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--heo-fontcolor);
  }
  #fcircleContainer .fArticleItem .fArticleMessage {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0.8rem 1rem;
    background: var(--heo-background);
    border-radius: 12px;
    order: 0;
  }
  #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle {
    align-self: start;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    color: var(--heo-fontcolor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }
  
  #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle:hover{
    color: var(--heo-main);
  }
  
  #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime {
    width: 100%;
    text-align: center;
    display: flex;
    margin-left: 9rem;
  }
  #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime .fArticleCreated {
    margin-right: 1rem;
    text-align: left;
    align-self: center;
    color: var(--heo-secondtext);
  }
  #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime .fArticleUpdated {
    margin-right: 1rem;
    text-align: left;
    align-self: center;
    color: var(--heo-secondtext);
  }
  #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime i:before {
    margin-right: 5px;
  }
  @media screen and (max-width: 768px) {
    #fMessageBoard {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 400px) {
    #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime i {
      display: none;
    }
    #fMessageBoard {
      font-size: 12px;
    }
    #fMessageBoard #switchRankBtn #rankByCreated {
      font-size: 12px;
    }
    #fMessageBoard #switchRankBtn #rankByUpdated {
      font-size: 12px;
    }
    #fcircleContainer .fArticleItem .fArticleAvatar {
      display: none;
    }
    #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime{
      margin-left: 0;
    }
    #fMessageBoard #switchRankBtn{
      display: none;
    }
    #fMessageBoard .fUpdatedTime{
      display: none;
    }
    #fMessageBoard{
      display: none;
    }
    #fcircleContainer .fArticleItem .fArticleMessage {
      width: 100%;
    }
    #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle:hover:before {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 300px) {
    #fMessageBoard .fUpdatedTime span.fLabel {
      display: none;
    }
    #fMessageBoard .fMessageItem .fItem .fLabel {
      width: 50%;
    }
    #fMessageBoard .fMessageItem .fItem meter.fMeasureBar {
      display: none;
    }
    #fMessageBoard .fMessageItem .fItem .fMessage {
      width: 50%;
    }
    #fMessageBoard span#rankByCreated {
      display: none !important;
    }
    #fMessageBoard span#rankByUpdated {
      display: none !important;
    }
  }
  